@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* 
.page {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: url('http://webad.intraj/ssoa/images/login-bg_new.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto;
    width: 66%;
    font-family: 'Open Sans', sans-serif;
} */

.h1 {
    font-family: 'Rokkitt', serif;
}

.container {
    width: 66%;
    min-width: 800px;
    position: absolute;
    top: 20%;
}

.span6 {
    width: 49%;
    margin: 0 auto;
}

.login {
    background-color: #444444;
    text-align: center;
    box-shadow: 0 0 20px #000;
}

.login h1 {
    color: #A64141;
    font-size: 36px;
    padding: 30px;
    background-color: #d25555;
}

.loginContent,
.message {
    padding: 30px 30px 50px 30px;
}

.loginContent a {
    text-decoration: none;
    font-size: 14px;
    color: #ccc;
}

.textarea {
    resize: none;
}

.captchaSvg {
    margin-bottom: 15px;
    background-color: #ccc;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333;
}

.input,
.textarea {
    padding: 10px 5px;
    width: 80%;
}

.captcha-container {
    display: inline-flex;
}

.input:focus,
.textarea:focus {
    background-color: #f4f4f4;
    border: none;
    outline: none;
}

.label {
    display: block;
    color: #f4f4f4;
    font-size: 18px;
    margin-bottom: 3px;
    opacity: 0;

    transition: all .3s ease-in-out;
}

.input[type=submit] {
    color: #fff;
    background-color: #d25555;
    border: none;
    font-family: 'Rokkitt', serif;
    font-size: 24px;
    margin-top: 25px;
    width: 60%;

    transition: all .5s ease;
}

.input[type=submit]:hover {
    background-color: #A64141;
    cursor: pointer;
    color: #f4f4f4;
}

.message span {
    display: block;
    color: rgba(255, 255, 255, 1);
    position: relative;
    bottom: 80px;
    text-align: center;
}

.line {
    display: inline-block;
    padding: 2px;
    background-color: #fff;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    transform: rotate(-12deg);
    width: 5px;
}

.show {
    opacity: 1;
}