@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);


.component {}

.container {
    width: 66%;
    min-width: 800px;
    position: absolute;
    top: 20%;
}

.span6 {
    width: 49%;
    margin: 0 auto;
}

.login {
    background-color: #444444;
    text-align: center;
    box-shadow: 0 0 20px #000;
}

.h1 {
    margin: 0 auto;
    color: #A64141;
    font-size: 36px;
    padding: 30px;
    background-color: #d25555;
}

.loginContent {
    padding-bottom: 2em;
}

.captchaSvg {
    margin-bottom: 15px;
    background-color: #ccc;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333;
}

.captcha-container {
    display: inline-flex;
}

.input[type=submit] {
    color: #fff;
    background-color: #d25555;
    border: none;
    font-family: 'Rokkitt', serif;
    font-size: 24px;
    width: 60%;

    transition: all .5s ease;
}

.input[type=submit]:hover {
    background-color: #A64141;
    cursor: pointer;
    color: #f4f4f4;
}
